@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 300;
}
body {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  /* width: 375px; */
}
main {
  overflow: hidden;
}
ul {
  list-style: none;
}

.head .navbar {
  display: none;
}
.head {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 20px;
  position: fixed;
  background-color: white;
}

.head .bankLogo {
  margin-left: -5rem;
  width: 7rem;
}
.head .menu-bar {
  margin-right: -5rem;
}

.head .button {
  display: none;
}
.navbar .menu-items {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.navbar,
a {
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-decoration: none;
  color: black;
  transition: 0.3s ease;
}
.head #checkbox {
  display: none;
}
.head #checkbox:not(:checked) + .menu-bar #hamburger {
  display: block;
  cursor: pointer;
}
.head #checkbox:not(:checked) + .menu-bar #close {
  display: none;
  cursor: pointer;
}
.head #checkbox:checked + .menu-bar #hamburger {
  display: none;
  cursor: pointer;
}

.head #checkbox:checked + .menu-bar #close {
  display: block;
  cursor: pointer;
}
.head #checkbox:checked ~ .navbar {
  display: flex;
  width: 80%;
  position: absolute;
  top: 120%;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0px 100px 100px 100px hsla(30, 9%, 32%, 0.76);
}

.about-bank {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-bank .opening-img {
  background-image: url("./images/bg-intro-mobile.svg");
  background-repeat: no-repeat;
}
.about-bank .opening-img img {
  width: 100%;
  margin-top: -2.3rem;
}
.about-bank .introduction {
  text-align: center;
  font-weight: normal;
}
.about-bank .introduction #para-about-bank {
  padding-top: 1rem;
  font-size: 1rem;
  text-align: center;
}
.button {
  margin-top: 1rem;
  padding: 1rem 2.5rem 1rem 2.5rem;
  border-radius: 2rem;
  border: none;
  color: white;
  font-weight: bold;
  background: linear-gradient(
    to right,
    hsl(136, 65%, 51%) 20%,
    hsl(192, 70%, 51%)
  );
  cursor: pointer;
}

.bank-features {
  margin-top: 4rem;
  background: hsl(0, 29%, 97%);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-bottom: 3rem;
}
.bank-features #heading2 {
  padding-top: 3rem;
  padding-bottom: 1rem;
}
.bank-features #para1 {
  padding: 0.5rem;
  font-size: 1rem;
  text-align: center;
  color: hsl(0, 2%, 49%);
  padding-bottom: 2rem;
}
.bank-features .feature-img {
  width: 20%;
}
.bank-features .allfeature {
  padding-top: 2rem;
}
.bank-features .about-feature {
  margin-top: 0.8rem;
  padding: 0.5rem;
  font-size: 1rem;
  text-align: center;
  color: hsl(0, 2%, 49%);
  padding-bottom: 2rem;
}

.latest-articles {
  padding-top: 4rem;
  padding-bottom: 6rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: hsl(0, 13%, 95%);
}
.latest-articles .articles {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.latest-articles .articles .article-details {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 90%;
  border-radius: 1rem;
  background-color: white;
  padding-bottom: 2rem;
}
.latest-articles .article-details .article-img {
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.latest-articles .article-details .publisher-name {
  font-size: 0.8rem;
  color: gray;
  text-align: left;
  padding-top: 1.2rem;
  padding-left: 2rem;
}
.latest-articles .article-details .headline {
  text-align: left;
  /* padding-top: 1.2rem;
  padding-left: 2rem; */
  padding: 1rem 2rem 0 2rem;

  font-size: 1.1rem;
}
.latest-articles .article-details .article-content {
  text-align: left;
  /* padding-top: 1.2rem;
  padding-left: 2rem; */
  /* padding: 1rem 1rem 1rem 1rem; */
  padding: 1rem 2rem 1rem 2rem;
  font-size: 0.9rem;
  color: hsl(0, 2%, 49%);
}
.contact-bar {
  background-color: hsl(240, 19%, 16%);
  padding-top: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-bar .companylogo-contactlogo {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-bar .companylogo-contactlogo .social-media {
  padding: 1.5rem;
  display: flex;
  column-gap: 1.2rem;
}
.contact-bar .foot-menu a {
  display: flex;
  flex-direction: column;
  color: rgb(235, 227, 227);
  text-decoration: none;
  padding: 0.6rem;
  text-align: center;
}

.contact-bar .btn-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  padding: 1rem;
  color: gray;
}

@media (min-width: 1440px) {
  .head {
    position: absolute;
    align-items: center;
  }
  header .head .bankLogo {
    width: 10rem;
    height: 2rem;
    margin-left: 2.5rem;
  }
  .head .menu-bar {
    display: none;
  }
  .head .navbar {
    display: flex;
    flex-direction: row;
  }
  .head .button {
    display: block;
    margin-left: -8rem;
  }
  .button:hover {
    background: rgb(163, 228, 163);
    cursor: pointer;
  }
  .head .navbar a {
    position: relative;
  }
  .head .navbar a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.25rem;
    background: linear-gradient(
      to right,
      hsl(136, 65%, 51%) 20%,
      hsl(192, 70%, 51%)
    );
    bottom: -80%;
    display: none;
  }
  .head .navbar :hover::after {
    display: block;
  }
  .about-bank {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding-left: 11.5rem;
    /* border: 2px solid red; */
  }
  .about-bank .introduction {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
    row-gap: 0.8rem;
  }

  .about-bank .introduction #heading1 {
    width: 60%;
    text-align: left;
    font-size: 3rem;
  }

  .about-bank .introduction .button {
    margin-left: 0;
  }

  .about-bank .introduction #para-about-bank {
    max-width: 25rem;
    text-align: left;
    /* flex: 1; */
  }
  .about-bank .opening-img {
    width: 50%;
    margin-top: 105px;
    background-image: url("./images/bg-intro-desktop.svg");
    background-size: 150% 185%;
    background-repeat: no-repeat;
    background-position: -2.5rem -15rem;
  }
  .about-bank .opening-img img {
    margin: -15% 0 -20% 17%;
  }

  .bank-features {
    margin-top: -0.1rem;
    padding-left: 11.5rem;
    padding-right: 11.5rem;
  }
  .bank-features .feature-head {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .bank-features .feature-head #para1 {
    display: flex;
    text-align: start;
    max-width: 40rem;
  }
  .bank-features .features {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    padding-top: 2rem;
  }
  .bank-features .features .feature {
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
  }
  .bank-features .features .allfeature,
  .about-feature {
    align-self: flex-start;
  }
  .bank-features .features .feature .about-feature {
    text-align: start;
    padding-left: 0;
    margin: 0;
    padding-top: 1rem;
  }

  .latest-articles {
    /* padding: 7rem; */
    padding-left: 11.5rem;
    padding-right: 11.5rem;
  }
  .latest-articles #heading3 {
    align-self: flex-start;
  }
  .latest-articles .articles {
    flex-direction: row;
    column-gap: 2rem;
    align-self: flex-start;
  }
  .latest-articles .article-details {
    display: flex;
    flex-direction: row;
    margin: auto;
  }
  .latest-articles .articles .article-details img {
    aspect-ratio: 1.2/1;
  }
  .latest-articles .articles .article-details .headline {
    padding: 1rem 1.4rem;
  }
  .latest-articles .articles .article-details .article-content {
    padding: 1rem 1.2rem;
  }
  .latest-articles .headline:hover {
    cursor: pointer;
    color: green;
  }
  .contact-bar {
    flex-direction: row;
    justify-content: space-around;
  }
  .contact-bar .companylogo-contactlogo #company-logo {
    width: 8rem;
  }
  .contact-bar .companylogo-contactlogo {
    width: 20%;
    margin-left: -11rem;
  }
  .contact-bar .btn-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: -8rem;
  }
  .contact-bar .foot-menu {
    margin-bottom: 2%;
    margin-left: -16rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-flow: column;
    font-size: 1rem;
  }
  .contact-bar .foot-menu a:hover {
    color: green;
  }

  .contact-bar .foot-menu a {
    text-align: start;
  }

  .social-media a img {
    margin-right: -1.2rem;
  }
  footer .btn-copyright .button {
    align-self: flex-end;
  }
  /* .contact-bar .companylogo-contactlogo .social-media a :hover img{
    background-color: green;
  } */
  .contact-bar .companylogo-contactlogo .social-media a :hover path {
    fill: green;
  }
}
